/*
Dylan Zelasko
CITC 2390

Mid-term project

styles: stylesheet applied to all html pages within the website

business: Doug's Burger Shack (fictional)
*/

body{
	background: black;
	color: skyblue;
}

h1{
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: skyblue;
}

h2{
	font-size: 2.25em;
}

div{
	border: 3px solid;
	border-color: skyblue;
}

td{
	border: 3px solid;
	border-color: skyblue;
	background: darkseagreen;
	font-size: 1.5em;
}

/*Used for centering text elements*/
.text-center{
	text-align: center;
}

/*Primarily for images, but also works for centering other elements*/
.center{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

p{
	font-size: 1.5em;
}

img{
	border: 3px solid;
	border-color: skyblue;
}

table{
	width: 100%;
}

/*for menu elements within the menu html page*/
.menu{
	background: palevioletred;
	color: black;
	font-size: 1.5em;
}

/*Alternating classes for menu items in menu html*/
.menu-item1{
	background: green;
	color: whitesmoke;
}

/*Alternating classes for menu items in menu html*/
.menu-item2{
	background: saddlebrown;
	color: whitesmoke;
}

button{
	background: skyblue;
	color: black;
	font-size: 2em;
}

input{
	background: skyblue;
	color: black;
}